@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;900&family=Raleway:wght@500&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

h1, h5, h6 {
    font-family: 'Raleway', Verdana, Geneva, Tahoma, sans-serif;
    color:#3C1874;
    text-align: center;
    padding: 10px;
}



audio {
    align-content: center;
}


body {
    background-color: #F3F3F3;
}

.form-group {
    font-family: 'Source Sans Pro', Verdana, Geneva, Tahoma, sans-serif;
    color: #283747;
    size: 20px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.audio-container {
    display: flex;
    justify-content: center;
    align-items: center;
}