<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Musically Secure</title>
</head>

<body>
    {% extends "template.html" %}
    {% block title %}Musical Sounds{% endblock %}
    {% block content %}
    <h5>Click play to hear the audio</h5>
    {% for list_of_passwords, file_names in passwords_sounds %}
    <h6>{{ list_of_passwords }}</h6>

    <h6>{{ name }}</h6>
    <audio controls>
        <source src={{ url_for("static", filename = file_names ) }} type="audio/wav">
    </audio>
    {% endfor %}

    {% endblock %}
</body>

</html>