

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Musically Secure</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/template.css') }}">
</head>

<body>
    <header>
        <div class="container">
            <a href="{{ url_for('home') }}" style="text-decoration:none;">
                <h1 class="display-3 py-2">Musically <span style="color: #DE354C">Secure</span></h1>
            </a>

        </div>
    </header>

    {% block content %}
    {% endblock %}

</body>
